<table class="admin-table">
  <thead>
    <tr> <% attribute_names.each do |attribute| %>
      <th>
        <%%= admin_link(:by_<%= attribute %>, "<%= attribute %>") %>
      </th> <% end %>
    </tr>
  </thead>
  <tbody>
    <%% @<%= resource %>.each do |obj| %>
      <tr> <% attribute_names.each do |attribute| %>
        <td>
          <%%= obj.<%= attribute%> %>
        </td> <% end %>
      </tr>
    <%% end %>
  </tbody>
</table>
