<table class="admin-table">
  <thead>
    <tr> <% attribute_names.each do |attribute| %>
      <th>
        <%%= admin_link(:by_<%= attribute %>, "<%= attribute %>") %>
      </th> <% end %>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= resource %>.each do |obj| %>
      <tr> <% attribute_names.each do |attribute| %>
        <td>
          <%%= obj.<%= attribute%> %>
        </td> <% end %>
        <td>
          <%%= link_to 'Edit', edit_admin_item_path(obj) %>
          <%%= button_to 'Delete', admin_item_path(obj), method: :delete, class: 'button alert', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>
