.head {
  background-color: #00ADEF;
  margin: 10px 0;
  padding: 5px 20px;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 62.5rem;
}

.head h2 {
  color: white;
}

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

table {
  width: 100%;
  border: none;
  border-collapse: collapse; }
  table tr:nth-child(odd) td{
    background-color: #FFF; }
  table tr:nth-child(even) td{
    background-color: #EEE; }
  td, th {
    padding: 5px 10px; }
  th {
    color: #FFF;
    background-color: #595A5C; }
    th a {
      color: #FFF; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #9d9d9d;
    cursor: pointer; }

.button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding: 7px 14px;
  margin-bottom: 5px;
  font-size: 1rem;
  transition: background-color 300ms ease-out; }

  .button.controll {
    width: 80%; }

  .button.alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF; }
    .button.alert:hover, .button.alert:focus {
      background-color: #cf2a0e; }
    .button.alert:hover, .button.alert:focus {
      color: #FFFFFF; }

  .button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF; }
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      background-color: #368a55; }
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      color: #FFFFFF; }
  .button.new-item {
    margin: 10px 20px; }
  .button.new-item, .button.edit {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333; }
    .button.new-item:hover, .button.new-item:focus, .button.edit:hover, .button.edit:focus {
      background-color: #61b6d9;
      color: #FFFFFF; }
  .button#submit {
    display: block;
    margin: 15px 0;
  }

label {
  display: block;
  width: 100px; }

input {
  border: 1px solid #bbb;
  margin-bottom: 15px; }

.flash {
  margin: 10px 0;
  padding: 10px 20px; }
  .flash_notice {
    background-color: #33CC00; }
  .flash_alert {
    background-color: #f04124; }

.error {
  color: #f04124;
  margin: 10px; }

.pull-right {
  float: right; }

.sorting {
  background: #595A5C url(/assets/admin_bits/sort_both.png) no-repeat center right; }
.sorting_asc {
  background: #595A5C url(/assets/admin_bits/sort_asc.png) no-repeat center right; }
.sorting_desc {
  background: #595A5C url(/assets/admin_bits/sort_desc.png) no-repeat center right; }

ul.resources-list {
  padding: 0;
  margin-bottom: 1px;
  list-style: none;
  display: table; }
  ul.resources-list li {
    display: block;
    float: left; }
  ul.resources-list li a {
    background-color: #a0d3e8;
    padding: 10px 20px; }
  ul.resources-list li:hover, ul.resources-list li:hover a{
    background-color: #61b6d9;
    color: #FFFFFF; }
